/* ~~~~~~~~~ Google Font ~~~~~~~~~~*/
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');
@import 'vars.scss';

/* ~~~~~~ BODY ~~~~~~*/

body {
  font-family: 'Roboto Slab', serif;
}


.container-fluid {
  padding: 0 !important;
}


/*~~~~~~~~~~~~~~~~ HEADER ~~~~~~~~~~~~~~~~~~~~~~*/
.img {
  background-image: url(./img/DSC00105.png);
  width: 100%;
  height: 100vh;
  background-image: cover;
  z-index: 0;
  text-align: center;
  display: flex;
}
.title {
  margin-top: 8rem;
  font-size: 4rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  color: $background-grey;
}
.symbol {
  color: #546e7b; 
}
/* Github icon */
.social {
  margin-right: 1em;
}
.social:hover {
  color: #4daac4;
}
/* Languages icons*/
.icons {
  margin: 1em;
}
.arrow {
  align-self: center;
  color: 	#4C5B41;
 
}
.arrow:hover {
  color: #4daac4;
}

/*~~~~~~~~~~~~~~~~ MAIN ~~~~~~~~~~~~~~~~~~~~~~*/

.formation {
  padding: 0 !important;
  background-color: 			#4C5B41;
  color: white;
}

.parcours {
  background-color: #82B6EE;
}



.projets {
  padding: 0 !important;
  margin: 0 !important;
}

/*~~~~~~~~~~~~~~~~ FOOTER ~~~~~~~~~~~~~~~~~~~~~~*/

.footer {
  color: white;
  background-color: 		#313B29;
}

/*
patate,
patate2,
patate3 {
  @include basicButton;
} */